<div class="row" ng-controller="GenreCtrl as genre">
  <div class="col-md-6">
    <div class="row">
      <h1>Genres</h1>
    </div>
    <div class="row"> 
      <table class="table">
        <thead>
          <tr>
            <th sort-column sortby="genre.sortBy" inverse="genre.inverseOrder">Name</th>
            <th>Num movies</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="genredetail in genre.genres | filter:searchName |orderBy: genre.sortBy : genre.inverseOrder">
            <th>{{genredetail.name}}</th>
            <th>{{genredetail.movies.length}}</th>
            <th> 
              <button type="button" class="btn btn-danger" ng-click="genre.deleteGenre(genredetail.name)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5 second-col">
    <div class="row">
      <h2>Filters</h2>
    </div>
    <div class="row">
      <filter-input ng-model="searchName" placeholder="'Search Name'"></filter-input>
    </div>
    <div class="row">
      <h4>Actions</h4>
    </div>
    <div class="row" ng-include="'genre/create_genre_modal.html'">
    </div>
  </div>
</div>