<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalMovie">
  Create Movie
</button>

<!-- Modal -->
<div class="modal fade" id="myModalMovie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Movie</h4>
      </div>
      <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" id="movie" ng-model="movie.title">
          <label>Genre:</label> 
          <!-- <select id="genre" class="form-control">
            <option></option>
            <option ng-repeat="genre in genres" ng-selected="item.selected" ng-model="movie.genre">{{genre.name}}</option>
          </select> -->
          <!-- <select2></select2> -->

          <ui-select ng-model="movie.genre">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="genre in (genres | filter: $select.search) track by genre.name">
                <span ng-bind="genre.name"></span>
            </ui-select-choices>
        </ui-select>

        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="createMovie(movie)">Create</button>
      </div>
    </div>
  </div>
</div>
