<div class="row" ng-controller="GenreCtrl">
  <div class="col-md-6">
    <div class="row">
      <h1>Genres</h1>
    </div>
    <div class="row"> 
      <table class="table">
        <thead>
          <tr>
            <th>Name <span class="glyphicon glyphicon-chevron-up" ng-show="inverse" ng-click="sortByName()" ></span><span class="glyphicon glyphicon-chevron-down" ng-click="sortByName()" ng-show="!inverse"></span></th>
            <th>Num movies</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="genre in genres | filter:searchName |orderBy: orderDirection">
            <th>{{genre.name}}</th>
            <th>{{genre.movies.length}}</th>
            <th> 
              <button type="button" class="btn btn-danger" ng-click="deleteGenre(genre.name)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5 second-col">
    <div class="row">
      <h2>Filters</h2>
    </div>
    <div class="row">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search name" ng-model="searchName">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchName=''"><i class="glyphicon glyphicon-refresh"></i></button>
        </span>
      </div>

    </div>
    <div class="row">
      <h4>Actions</h4>
    </div>
    <div class="row" ng-include="'views/create_genre_modal.html'">
    </div>
  </div>
</div>

<div class="row row-movies" ng-controller="MovieCtrl">
  <div class="col-md-6">
    <div class="row">
      <h1>Movies</h1>
    </div>
    <div class="row"> 
      <table class="table">
        <thead>
          <tr>
            <th>Title <span class="glyphicon glyphicon-chevron-up" ng-show="inverseTitle" ng-click="sortByTitle()"></span><span class="glyphicon glyphicon-chevron-down" ng-show="!inverseTitle" ng-click="sortByTitle()"></th>
            <th>Genre     </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movie in movies | filter:searchTitle |orderBy: orderTitleDirection">
            <th>{{movie.title}}</th>
            <th>{{movie.genre}}</th>
            <th> 
              <button type="button" class="btn btn-danger" ng-click="deleteMovie(movie)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5 second-col">
    <div class="row">
      <h2>Filters</h2>
    </div>
    <div class="row">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTitle">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchTitle=''"><i class="glyphicon glyphicon-refresh"></i></button>
        </span>
      </div>
    </div>
    <div class="row">
      <h4>Actions</h4>
    </div>
    <div class="row" ng-include="'views/create_movie_modal.html'">
    </div>
  </div>
</div>