<div class="row" ng-controller="GenreCtrl">
  <div class="col-md-6">
    <div class="row">
      <h1>Genres</h1>
    </div>
    <div class="row"> 
      <table class="table">
        <thead>
          <tr>
            <th sort-column sortby="sortBy" inverse="inverseOrder">Name</th>
            <th>Num movies</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="genre in genres | filter:searchName |orderBy: sortBy : inverseOrder">
            <th>{{genre.name}}</th>
            <th>{{genre.movies.length}}</th>
            <th> 
              <button type="button" class="btn btn-danger" ng-click="deleteGenre(genre.name)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5 second-col">
    <div class="row">
      <h2>Filters</h2>
    </div>
    <div class="row">
      <filter-input ng-model="searchName" placeholder="'Search Name'"></filter-input>
    </div>
    <div class="row">
      <h4>Actions</h4>
    </div>
    <div class="row" ng-include="'views/create_genre_modal.html'">
    </div>
  </div>
</div>

<div class="row row-movies" ng-controller="MovieCtrl">
  <div class="col-md-6">
    <div class="row">
      <h1>Movies</h1>
    </div>
    <div class="row"> 
      <table class="table">
        <thead>
          <tr>
            <th sort-column sortby="sortBy" inverse="inverseOrder">
            Title 
            <!-- <span class="glyphicon glyphicon-chevron-up" ng-click= "reverseTitle=!reverseTitle" ng-show="reverseTitle" columnToSort='title' ></span>
            <span class="glyphicon glyphicon-chevron-down" ng-click= "reverseTitle=!reverseTitle" ng-show="!reverseTitle" columnToSort='title'> -->
            </th>
            <th>Genre</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movie in movies | filter:searchTitle |orderBy: sortBy : inverseOrder">
            <th>{{movie.title}}</th>
            <th>{{movie.genre}}</th>
            <th> 
              <button type="button" class="btn btn-danger" ng-click="deleteMovie(movie)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5 second-col">
    <div class="row">
      <h2>Filters</h2>
    </div>
    <div class="row">
      <filter-input ng-model="searchTitle" placeholder="'Search Title'"></filter-input>
    </div>
    <div class="row">
      <h4>Actions</h4>
    </div>
    <div class="row" ng-include="'views/create_movie_modal.html'">
    </div>
  </div>
</div>